.container {
    width: 400px;
    margin: auto;
    padding-top: 20px;
}

.form {
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}