.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    font-size: 14pt;
    margin-bottom: 15px;
    text-align: center;
}

.input {
    width: 200px;
    margin: auto;
}