.labelText {
    margin-right: 10px;
    font-size: 16pt;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px dashed #2698d1;
    border-radius: 8px;
    margin: auto;
}